environments:
  local:
    values:
      - environments/local/environment.yaml
---
helmDefaults:
  kubeContext: {{ .Values.kubeContext }}
  wait: true
  timeout: 600
  createNamespace: true

repositories:
  - name: strimzi
    url: quay.io/strimzi-helm
    oci: true
  - name: cnpg
    url: https://cloudnative-pg.github.io/charts
  - name: argo
    url: https://argoproj.github.io/argo-helm

releases:
  - name: priority-classes
    namespace: platform
    chart: charts/platform/priority-classes
    labels:
      tier: operators

  - name: strimzi-operator
    namespace: platform
    chart: strimzi/strimzi-kafka-operator
    version: 1.2.0
    labels:
      tier: operators
    needs:
      - platform/priority-classes
    values:
      - platform/strimzi/values.yaml

  - name: cloudnative-pg
    namespace: cnpg-system
    chart: cnpg/cloudnative-pg
    version: 0.29.1
    labels:
      tier: operators
    values:
      - platform/cloudnative-pg/values.yaml

  - name: argocd
    namespace: argocd
    chart: argo/argo-cd
    version: 10.9.2
    labels:
      tier: gitops
    values:
      - platform/argocd/values.yaml

  - name: bank-solution-apps
    namespace: argocd
    chart: charts/gitops/bank-solution-apps
    labels:
      tier: gitops
    needs:
      - argocd/argocd
      - platform/strimzi-operator
      - cnpg-system/cloudnative-pg
